.start{
    display: flex;
    h4{
        color: #FFC978;
        text-transform: uppercase;
    }
    h1{
        font-size: 60px;
    }
    img{
        width: 700px;
        
    }

}